@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>App was built with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
	<vc:course-count></vc:course-count>
</div>
