@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4"><b>Welcome</b></h1>
	<p style="font-size: 20px">
		Elka is a simple CRUD web application for browsing courses which you attend at your university or school.
		<br/>
		What you need is add new course on website and then easily browse through them.
		<br/>
		I'm using <a href="https://datatables.net/">DataTables</a> for formatting courses as a table.
		<br/>
		Check my other projects on my <a href="https://github.com/kubkam">GitHub</a>. Go to <a asp-page="Contact">Contact</a> page and check contact possibilities.
	</p>

	<vc:course-count></vc:course-count>
</div>
