@page
@model Elka.Pages.Courses.ListModel
@{
	ViewData["Title"] = "Courses";
}

<p>
	<h1>Courses List</h1>
	<a asp-page="./Edit" class="btn btn-link">Create New Course</a>
</p>

<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" placeholder="Search" asp-for="SearchTerm" />
			<select class="custom-select font-weight-bold" id="inputGroupSelect04" asp-for="SearchChoice">
				<option value="0" selected>Course's Name</option>
				<option value="1">Course's Moniker</option>
				<option value="2">ECTS (please enter a number from 0 to 5)</option>
				<option value="3">Teacher's first name</option>
				<option value="4">Teacher's last name</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary">Search</button>
			</div>
		</div>
	</div>
</form>

<table id="course" class="table table-striped table-bordered display" style="width:100%">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Moniker
			</th>
			<th>
				ECTS
			</th>
			<th>
				Teacher First Name
			</th>
			<th>
				Teacher Last Name
			</th>
			<th>
				How easy
			</th>
			<th>
				Interesting level
			</th>
			<!--<th>
		Description
	</th>-->
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var course in Model.Courses)
		{
			<partial name="_Summary" model="course" />
		}
	</tbody>
</table>

<a asp-page="./Edit" class="btn btn-secondary">Add new Course</a>
@if (Model.SearchTerm != null)
{
	<a asp-page="./List" class="btn btn-warning">Remove all filters</a>
}

@section Scripts
{
	<environment include="Development">
		<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
		<script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
		<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.js"></script>
	</environment>

	<script>
		$(document).ready(function() {
			$('#course').DataTable({
				processing: true,
				"searching": false
			});
			}
		);

	</script>
}
