@page
@model Elka.Pages.Courses.ListModel
@{
	ViewData["Title"] = "Courses";
}

<p>
	<h1>Courses List</h1>
	<a asp-page="./Edit" class="btn btn-link">Create New Course</a>
</p>

<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" placeholder="Search" asp-for="SearchTerm" />
			<select class="custom-select font-weight-bold" id="inputGroupSelect04" asp-for="SearchChoice">
				<option value="0" selected>Course's Name</option>
				<option value="1">Course's Moniker</option>
				<option value="2">ECTS (please enter a number from 0 to 5)</option>
				<option value="3">Teacher's first name</option>
				<option value="4">Teacher's last name</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary">Search</button>
			</div>
		</div>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Moniker
			</th>
			<th>
				ECTS
			</th>
			<th>
				Teacher
			</th>
			<th>
				How easy
			</th>
			<th>
				Interesting level
			</th>
			<!--<th>
				Description
			</th>-->
			<th>	</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var course in Model.Courses)
		{
			<partial name="_Summary" model="course" />
		}
	</tbody>
</table>

<a asp-page="./Edit" class="btn btn-secondary">Add new Course</a>
@if (Model.SearchTerm != null)
{
	<a asp-page="./List" class="btn btn-warning">Remove all filters</a>
}

